[run]
source = openlane

[report]
include =
    openlane/*
omit =
    /nix/*
    venv/
    test_*.py
    __version__.py
    __main__.py
    container.py
    env_info.py
    */common/cli.py
    */flows/builtins.py
    */flows/classic.py
    */flows/misc.py
    */flows/optimizing.py
    */steps/checker.py
    */steps/klayout.py
    */steps/magic.py
    */steps/misc.py
    */steps/netgen.py
    */steps/magic.py
    */steps/openroad.py
    */steps/yosys.py
    */steps/verilator.py
    */steps/cvc_rv.py