[flake8]
extend-ignore =
    E1
    W1
    E2
    W2
    E3
    W3
    E5
    W5
    E731
    E721
exclude =
    .git,
    __pycache__,
    build/,
    pdk/,
    venv/,
    openlane/__init__.py,
    openlane/**/__init__.py,
    test/designs/*.py,
    examples