[submodule "test_data/designs"]
	path = test/designs
	url = https://github.com/efabless/openlane2-ci-designs
[submodule "test/steps/openlane2-step-unit-tests"]
	path = test/steps/steps
	url = https://github.com/efabless/openlane2-step-unit-tests
