# Nonsense
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Python
__pycache__
.mypy_cache/
build/
/venv
*.egg-info/
dist/
requirements.frz.txt
openlane_ipynb/

# Nix
result

# Flow artefacts
*.log
*.tar.gz
/*.lef
/*.def
logs/
/openlane_run
failures_report.json
abc.history
slpp_all/

# Testing
.coverage
htmlcov/
prof/
sandbox/

# Testing CI
package.json
node_modules
yarn.lock
tables_*.md