# build
wheel

# lint
black>=22.3.0,<23
black[jupyter]
flake8>=4
flake8-no-implicit-concat==0.3.3
flake8-pytest-style

## mypy
mypy
lxml-stubs
types-urllib3
types-typed-ast
types-six
types-setuptools
types-PyYAML
types-docutils
types-decorator
types-commonmark
types-colorama
types-Pygments
types-Deprecated
types-psutil

# test
pytest
coverage
pyfakefs>=5.2.3,<6
pillow>=10.0.1,<11

# ide
pylance
